bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
/src/ChatService.Web/appsettings.json
/src/ChatService.Web/appsettings.Development.json
/src/ChatService.AppHost/appsettings.json
/src/ChatService.AppHost/appsettings.Development.json